@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-path-custom {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 48% 100%, 48% 100%, 0 82%);
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }

  .blink {
    animation: blink 1s infinite;
  }
}
